<html>
    <head>
        <title>Querryl - login</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <link rel="stylesheet" href="../static/css/login.css" type="text/css"/>
        <script src="../static/js/jquery-1.9.1.min.js"></script>
        <script src="../static/js/login.js"></script>
    </head>
    <body>
        <div id="login-box">
            <form name="login" action="/login" method="post" accept-charset="utf-8">
                <table border="0">
                    <tr>
                        <td>username:</td>
                        <td><input id="username" type="text" name="username"/></td>
                    </tr>
                    <tr>
                        <td>password:</td>
                        <td><input type="password" name="password"/></td>
                    </tr>
                </table>
                <div class="login-button-container">
                    <input class="button" type="submit" value="Login" name="login"/>
                </div>
            </form>
        </div>
    </body>
</html>
