@font-face {
    font-family: Inconsolata;
    src: url('../Inconsolata-Regular.ttf');
}


body {
    font-family: "Consolas", Inconsolata;
}


li {
    white-space: nowrap;
}

#settings > h3 {
    text-decoration: underline;
}

#settings > div {
    width: 300px;
    text-align: left;
    margin-top: 10px;
    height: 20px;
    font-size: 20px;
}

#settings > div > input {
    float: right;
    width: 25px;
    height: 20px;
}

#menu {
    float: right;
}

#search-form {
    font-size: 18px;
}

#search-results {
}

#search-indicator {
    font-size: 15px;
    font-variant: small-caps;
}

.block-results {
    margin-bottom: 25px;
}
