li {
    white-space: nowrap;
}

#settings > h3 {
    text-decoration: underline;
}

#settings > div {
    width: 300px;
    text-align: left;
    margin-top: 10px;
    height: 20px;
    font-size: 20px;
}

#settings > div > input {
    float: right;
    width: 25px;
    height: 20px;
}

#settings > div > select {
    float: right;
    height: 20px;
}

#search {
    float: left;
    text-decoration: none;
    font-size: 20px;
    height: 20px;
    width: 100%;
}

#menu {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 25px;
}

#search-results {
    float:left;
}

#search-indicator {
    font-size: 15px;
    font-variant: small-caps;
}

.block-results {
    margin-bottom: 25px;
}


#top-bar {
    top: 0px;
    height: 5em;
    width: 100%;
}

#search-form {
    font-size: 1.2em;

    float: left;
    width: 300px;
    transform: translateY(1.2em);
    -webkit-transform: translateY(1.2em);
}

#search-form > input, #search-form > select{
    font-size: 0.8em;

    margin-right: 2em;
    margin-left: 0.5em;
}


@media all and (min-width: 1100px) {
    #search-form {
        width: 100%;
    }
}

@media all and (min-width: 1200px) {
    #search-form {
        width: 90%;
        margin-left: 10%;
    }
}
